section.ingredients-list {
    /* background-color: red; */
    margin-top: 3rem;
    margin-bottom: 3rem;
}
section.ingredients-list h2 {
    color: #141413;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 1rem;
}
section.ingredients-list ul {
    padding-left: 1.5rem;
}
section.ingredients-list ul li {
    font-size: 18px;
    line-height: 2rem;
    font-weight: 400;
    color: #475467;
}
